.car
  padding: 10px
  display: flex
  flex-direction: column
  gap: 20px
  img
    width: 100%
    border-radius: 5px
  &:hover
    outline: 2px solid #F3BB2EFC
    cursor: pointer
    border-radius: 10px

.description
  color: whitesmoke
  display: flex
  flex-direction: column
  gap: 10px
  h4
    font-size: 1.6rem

.price
  color: #F3BB2EFC
  font-size: 2rem
  font-weight: 600