.headOfPage
  position: sticky
  top: 0
  z-index: 100
  padding: 2vw 4vw
  display: flex
  flex-direction: row
  align-items: center
  background: #000000E6
  h1
    padding-left: 80px // todo: КОСТЫЛЬ!
    cursor: pointer
    color: #fcaf3b
    font-size: 4rem
    font-weight: 600
.name
  margin: 0 650px
  flex: 1
  text-align: center

.cartButton
  background: none
  border: none
  color: #fcaf3b
  cursor: pointer
  margin-left: 20px
  transition: transform 0.2s ease
  &:hover
    transform: scale(1.1)

.cartCounter
  padding-bottom: 40px
  font-size: 20px
  font-weight: 600
  color: white